.cta
	position relative
	background url('../images/general/cta.jpg') 50% 0 / cover no-repeat
	&:after
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		content ''
		background rgba(0, 0, 0, .5)
	&__in
		position relative
		z-index 1
		@extends .in
		max-width 970px
		padding-top 100px
		padding-bottom 100px
		color #fff
		+r($tL)
			max-width 100%
			padding-left 57px
			padding-right 57px
		+r($m)
			padding-top (80px/2)
			padding-left 15px
			padding-right 15px
			padding-bottom (100px/2)
	&__title
		@extends .title
		margin-bottom 36px
		padding-bottom 0
		text-align center
		line-height 1
		&:after
			display none
	&__text
		margin-bottom 23px
		font-size 18px
		line-height 1.3
		text-align center
		+r($m)
			padding-right 50px
		+r($mS)
			padding-right 0
	&__form
		margin auto
		max-width 360px
