.form
	display block

	&__row
		margin-bottom 20px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items flex-start
		+r($tL)
			margin-bottom 20px
		&:last-child
			margin-bottom 0
	&__row_fe
		justify-content flex-end
		// margin-top 20px
		+r($tL)
			justify-content space-between
		+r($m)
			justify-content center


	&__field
		margin-bottom 20px
		width 360px
		&:last-child
			margin-bottom 0
	&__input
		border none
		padding-left 20px
		padding-right 20px
		background #fff
		width 100%
		height 42px
		+placeholder()
			color #888888
	&__textarea
		border none
		padding-top 10px
		padding-left 20px
		padding-right 20px
		width 100%
		min-height 166px
		background #fff
		+placeholder()
			color #888888
	&__note
		position relative
		margin-bottom 26px
		margin-right 35px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items flex-start
		line-height 1
		color #FFF
		+r($tL)
			margin-left 50px
		+r($m)
			margin-left 0
			margin-right 0
			justify-content center
	&__note-text
		font-size 16px
		+r($m)
			font-size 15px
	&__note-label
		position absolute
		top 5px
		left -30px
		width 22px
		height 22px
		cursor pointer
		&:after,
		&:before
			position absolute
			top 0
			left 0
			content ''
			width 22px
			height 22px
			background url('../images/general/checkbox.svg') 0 0 / cover no-repeat
		&:before
			display none
			background url('../images/general/checkbox-checked.svg') 0 0 / cover no-repeat

	&__checkbox
		display none
		&:checked ~
			.form__note-label
				&:after
					display none
				&:before
					display block

	&__submit
		margin auto
		padding 10px
		padding-bottom 10px
		padding-left 20px
		padding-right 20px
		+r($m)
			margin-top 0


	form.invalid
		position relative
		// padding-top 70px

		div.wpcf7-response-output
			// position absolute
			// top 0
			// right 0
			// left 0
			margin-top 0
			margin-right 0
			margin-bottom 10px
			margin-left 0
			color #fff
			font-size 13px



.popup-callback
	margin-bottom 20px
	.form__row_fe
		margin-top 20px
