mixin portfolio()
	.portfolio&attributes(attributes)
		ul.portfolio__filter
			li.portfolio__item.portfolio__item_current
				a.portfolio__link(href="#") Все работы
			li.portfolio__item
				a.portfolio__link(href="#") Сайты
			li.portfolio__item
				a.portfolio__link(href="#") Брендинг
			li.portfolio__item
				a.portfolio__link(href="#") Продвижение
