.about
	position relative
	display block
	+r($tL)
		background-color #00c6d7
	&:after,
	&:before
		position absolute
		z-index -1
		top 0
		min-height 542px
		content ''
		+r($tL)
			min-height 512px
		+r($m)
			display none

	&:before
		left 0
		width 50%
		background-color #00c6d7
		+r($tL)
			width 100%
	&:after
		right 0
		width 50%
		background url('../images/content/about-bg.jpg') 100% 0 no-repeat
		+r($tL)
			display none
	&__in
		@extends .in
		padding-top 95px
		padding-bottom 100px
		+r($m)
			padding-top (95px/2)
			padding-bottom (100px/2)
	&__content
		max-width 458px
		color #fff
		+r($tL)
			padding-left 33px
			padding-right 33px
		+r($m)
			padding-left 0
			padding-right 0

	&__title
		@extends .title
		margin-bottom 20px
	&__text
		margin-bottom 23px
		line-height 1.6
	&__button
		border 2px solid #fff
		background transparent
		&:hover
			background #fff
			color #00c6d7
