mixin about()
	section.about&attributes(attributes)
		.about__in
			.about__content
				h2.about__title О нас
				.about__text Наше агентство помогает клиентам в создании новых продуктов и услуг. Принцип нашей работы в комплексном подходе к разработке интернет-проектов. К нам приходят, когда требуется логотип, фирменный стиль, сайт, продвижение сайта, графический дизайн, поддержка и развитие проектов в интернете.
				a.about__button.button.button_secondary(href="#") Узнать больше
