include ../icon/icon


mixin hero()
	section.hero&attributes(attributes)
		.hero__in
			h1.hero__title
				strong Лендинг под ключ
				| с индивидуальным дизайном <br/>и адаптивной версткой
			a.hero__button.button.button_sec.popup-open(href="#callback") Обсудить задачу

			a.hero__arrow(href="#stats")

