// .nav
// 	position relative
// 	max-width 600px
// 	+r($tL)
// 		position static
// 		max-width 100%
// 	&__trigger
// 		position relative
// 		display none
// 		cursor pointer
// 		+r($tL)
// 			display block
// 	&__trigger-open
// 		width 43px
// 		height 30px
// 		fill #00c6d7
// 		+r($m)
// 			position relative
// 			top 5px
// 			width 29px
// 			height 20px
// 	&__trigger-close
// 		display none
// 		width 43px
// 		height 39px
// 		fill #00c6d7
// 		+r($m)
// 			position relative
// 			top 0
// 			right 0
// 			width 21px
// 			height 28px
// 	&__checkbox
// 		display none
// 		&:checked ~
// 			.nav__list
// 				position absolute
// 				top 128px
// 				left 0
// 				right 0
// 				padding-top 50px
// 				padding-right 24px
// 				padding-left 50px
// 				padding-bottom 65px
// 				display block
// 				background #000
// 				font-size 24px
// 				+r($m)
// 					top 69px
// 					padding-left 15px
// 					padding-right 15px
// 				+rmin($tL)
// 					position static
// 					padding-top 0
// 					padding-bottom 0
// 					padding-right 0
// 					padding-left 0
// 					display flex
// 					background transparent
// 					font-size 16px

// 	&__list
// 		display flex
// 		flex-flow row wrap
// 		justify-content flex-start
// 		+r($tL)
// 			display none
// 		+rmin($tL)
// 			display flex
// 	&__item,
// 	li
// 		margin-right 37px
// 		text-transform uppercase
// 		font-family $mB
// 		+tr($m)
// 			line-height 1
// 		&:last-child
// 			margin-right 0
// 		+r($tL)
// 			margin-right 0
// 	.current-menu-item
// 		.nav__link,
// 		a
// 			border-bottom 1px solid #00c6d7
// 			+r($m)
// 				border-bottom 1px solid transparent
// 	&__link,
// 	a
// 		padding-bottom 9px
// 		color #fff
// 		letter-spacing 1px
// 		text-decoration none
// 		tr(all .3s ease)
// 		+r($m)
// 			padding-bottom 3px
// 		&:hover
// 			color darken(#fff, 10)
// 			tr(all .3s ease)

// .nav_sec
// 	.nav__list
// 		+r($tL)
// 			padding-top 50px
// 			display flex
// 		+r($m)
// 			justify-content center

// 	.nav__item,
// 	li
// 		font-family $mR
// 		&:last-child
// 			margin-right 0
// 			+r($m)
// 				margin-bottom 0
// 		+r($tL)
// 			margin-right 36px
// 		+r($m)
// 			margin-right 0
// 			margin-bottom 10px
// 			width 100%
// 			text-align center

