mixin p-services()
	.p-services&attributes(attributes)
		.p-services__text Создаём и поддерживаем интернет-проекты. Лучшие WordPress разработчики в России. Настраиваем и ведём рекламные кампании. Делаем качественное SEO. Интегрируем системы учёта, внедряем CRM и сервисы аналитики. Определяем стратегию интернет-маркетинга. Занимаемся брендингом и разработкой фирменного стиля,

		article.p-services__service.p-services__service_odd
			.p-services__service-content
				h2.p-services__service-title Разработка сайтов
				.p-services__service-text Мы осуществляем разработку сайтов различных типов и направленностей. Работа включает в себя проектирование, создание адаптивного и мобильного дизайна, разработку на Wordpress и 1С Битрикс, внедрение различных внешних систем. Все проекты реализуются ради выполнения конкретных бизнес-задач клиентов с соблюдением единого комплексного подхода.
				a.p-services__service-button.button.button_sec(href="#button") Отправить заявку
			.p-services__service-img
				img(src="assets/images/content/service-webdev.png", alt="Разработка сайтов")

		article.p-services__service.p-services__service_even
			.p-services__service-content
				h2.p-services__service-title Брендинг
				.p-services__service-text Помогаем сформулировать и создать образ компании, его продукта, донести до потребителя основную идею компании и Бренд является индивидуальным образом компании, подчеркивает его уникальность. Бренд помогает компании выделиться на фоне конкурентного окружения, он влияет на выбор потребителей и является своеобразным нематериальным активом компании.
				a.p-services__service-button.button.button_sec(href="#button") Отправить заявку
			.p-services__service-img
				img(src="assets/images/content/service-branding.png", alt="Брендинг")


		article.p-services__service.p-services__service_odd
			.p-services__service-content
				h2.p-services__service-title Продвижение сайтов
				.p-services__service-text Наличие сайта в топе выдачи поисковых систем — необходимое условие продвижения бренда, товаров или услуг. Продвижение сайта в топ предполагает наличие конкретных инструментов, которыми и владеют наши специалисты. Наша задача — обеспечить целевой трафик и сформировать заинтересованность посетителя. AKRO digital оптимизирует ваш интерфейс и поможет достигнуть заданных целей благодаря четкой стратегии по продвижению сайта компании.
				a.p-services__service-button.button.button_sec(href="#button") Отправить заявку
			.p-services__service-img
				img(src="assets/images/content/service-seo.png", alt="Продвижение сайтов")
