mixin contacts()
	.contacts&attributes(attributes)
		#map.contacts__map
		.contacts__content
			.contacts__content-w
				.contacts__title AKRO agency
				.contacts__text Москва, Каховская улица
				.contacts__text <a href='tel:+74952202125'>+7 (495) 220-21-25</a>
				.contacts__text <a href='mailto:info@akro.agency'>info@akro.agency</a>
