mixin faq()
	section.faq&attributes(attributes)
		.faq__in
			h2.faq__title Ответы на вопросы
			ul.faq__list
				li.faq__item
					.faq__icon-w
						.faq__icon
					.faq__item-title Что такое Лендинг (Landing Page)?
					.faq__text Лендинг (Landing page) — это гибко настраиваемая посадочная страница со всем необходимым арсеналом маркетинговых инструментов на борту. Основная цель Landing page заключается в том, чтобы пользователи, приходящие на страницу, совершали целевое действие: оставляли заявку, звонили по телефону, становились подписчиками или осуществляли покупку товара.
				li.faq__item
					.faq__icon-w
						.faq__icon
					.faq__item-title Какова стоимость разработки под ключ??
					.faq__text Результат будет «под ключ» при любой стоимости, а вот его состав — разный.  Цена на создание лендинг пейджа с нуля начинается от 49 000 р. В зависимости от сложности задачи, стоимость будет отличаться. Посветите нас в детали проекта, и мы назовем точную цифру.
				li.faq__item
					.faq__icon-w
						.faq__icon
					.faq__item-title На какой CMS делаете лендинги?
					.faq__text Чаще всего лендинги мы делаем на WordPress, но со своими доработками. Они облегчают управление страницей. На втором по популярности месте стоит Битрикс. На Битриксе заказывают те, у кого на нем сайт или магазин.

				li.faq__item
					.faq__icon-w
						.faq__icon
					.faq__item-title Сколько вариантов дизайна вы делаете?
					.faq__text Сделаем ровно тот один вариант, который лучше решает поставленную задачу. Правда, мы предусмотрели 2 этапа согласования. Если вдруг в чем-то ошиблись, то получим замечания и поправим. Если посчитаем, что комментарии повредят проекту, честно об этом скажем и объясним причину. Дизайн ради дизайна мы не приветствуем.
