@font-face
	font-family 'MullerRegular'
	src local('Muller Regular'), local('MullerRegular'),
		url('../fonts/hinted-subset-MullerRegular.woff2') format('woff2'),
		url('../fonts/hinted-subset-MullerRegular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'MullerMedium'
	src local('Muller Medium'), local('MullerMedium'),
		url('../fonts/hinted-subset-MullerMedium.woff2') format('woff2'),
		url('../fonts/hinted-subset-MullerMedium.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'MullerBold'
	src local('Muller Bold'), local('MullerBold'),
		url('../fonts/hinted-subset-MullerBold.woff2') format('woff2'),
		url('../fonts/hinted-subset-MullerBold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'MullerLight'
	src local('Muller Light'), local('MullerLight'),
		url('../fonts/hinted-subset-MullerLight.woff2') format('woff2'),
		url('../fonts/hinted-subset-MullerLight.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'AvenirNextLTW01BoldRegular'
	src local('Avenir Next LT W01 Bold'), local('AvenirNextLTW01BoldRegular'),
		url('../fonts/hinted-subset-AvenirNextLTW01BoldRegular.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirNextLTW01BoldRegular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'AvenirNext-Regular'
	src local('Avenir Next Regular'), local('AvenirNext-Regular'),
		url('../fonts/hinted-subset-AvenirNext-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-AvenirNext-Regular.woff') format('woff')
	font-weight normal
	font-style normal




$mL = 'MullerLight' , arial, sans-serif
$mR = 'MullerRegular', arial, sans-serif
$mM = 'MullerMedium', arial, sans-serif
$mB = 'MullerBold' , arial, sans-serif

$aB = 'AvenirNextLTW01BoldRegular', arial, sans-serif
$aR = 'AvenirNext-Regular', arial, sans-serif
