.testimonials
	display block
	&__in
		position relative
		@extends .in
		padding-top 80px
		padding-bottom 100px
		+r($m)
			padding-top (80px/2)
			padding-bottom (100px/2)
	&__title
		@extends .title
		margin-bottom 36px
		+r($tL)
			padding-left 33px
			padding-right 33px
		+r($m)
			margin-bottom (36px/2)
			padding-left 0
			padding-right 0
	&__slider
		max-width 754px
		margin-left -50px
		+r($tL)
			margin-left 20px
			margin-bottom 30px
			max-width 100%
		+r($m)
			margin-left 0
	&__item
		padding-left 50px
		padding-right 50px
		color #fff
		+r($m)
			padding-left 0
			padding-right 0
	&__name
		margin-bottom 25px
		font-family $aB
		font-size 24px
		+r($m)
			margin-bottom (25px/2)

	&__text
		position relative
		line-height 1.5
		&:after,
		&:before
			position absolute
			content ''
			width 30px
			height 27px
			background url('../images/general/quote-left.svg') 0 0 / cover no-repeat
		&:before
			top -6px
			left -50px
		&:after
			bottom 6px
			right -50px
			transform rotate(-180deg)

	&__nav
		position absolute
		right 16px
		bottom 170px
		width 142px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items flex-start
		+r($tL)
			position static
			margin auto
	.slick-arrow
		position static
		top 0
		width 46px
		height 46px
		background url('../images/general/slider-arrow-left.svg') 0 0 / cover no-repeat
		transform none
		opacity 1
		&:before
			display none
		&:hover
			opacity 0.8
	.slick-prev
		left 0
		transform rotate(0deg)
	.slick-next
		right 0
		transform rotate(-180deg)
