mixin stats()
	section.stats&attributes(attributes)
		.stats__in
			ul.stats__list
				li.stats__item
					span.stats__val 10
					span.stats__text лет опыт <br/>работы
				li.stats__item
					span.stats__val 50+
					span.stats__text работ <br/>для клиентов <br/>из России, СНГ <br/>и других стран
				li.stats__item
					span.stats__val 70%
					span.stats__text клиентов <br/>обращаются <br/>к нам повторно
				li.stats__item
					span.stats__val 5%
					span.stats__text минимальная <br/>конверсия <br/>лендинга
