mixin agency()
	section.agency&attributes(attributes)

		h2.agency__title Профессиональное digital-агентство <br/>веб-разработки и брендинга
		.agency__row
			dl.agency__list
				dt.agency__term О нас
				dd.agency__desc Агентство AKRO было открыто в 2017 году. <br/>На сегодняшний день нами успешно реализовано более 100<br/> проектов. Штаб-квартира располагается в Москве, где<br/> работает основная часть наших специалистов. <br/>Также мы сотрудничаем с десятками специалистов <br/>дистанционно, что позволяет оперативно решать задачи <br/>клиентов. Мы специализируемся на веб-разработке на CMS <br/>WordPress, интернет-маркетинге, интерактивных технологиях.
		.agency__row
			dl.agency__list
				dt.agency__term Ключевые <br/>направления
				div.agency__list-col
					dd.agency__desc Упаковка бизнеса
					dd.agency__desc Разработка сайтов
					dd.agency__desc Поддержка сайтов
					dd.agency__desc Продвижение сайтов
					dd.agency__desc Аналитика

				div.agency__list-col
					dd.agency__desc Брендинг
					dd.agency__desc Айдентика
					dd.agency__desc Дизайн логотипов

		.agency__row
			dl.agency__list
				dt.agency__term Принцип работы
				dd.agency__desc Принцип нашей работы заключается в комплексном подходе к производству интернет-проектов. Мы выявляем потребности и предлагаем решения, которые объединяют стратегию, дизайн, технологии, аналитику, качественный контент, маркетинг и рекламу. В результате получаются проекты, которые помогают привлечь больше клиентов.

		.agency__purpose <strong>Наша миссия</strong> – создавать цифровые решения, которые <br/>помогают бизнесу донести смысл до потенциальных клиентов.

