mixin clients()
	.clients&attributes(attributes)
		h2.clients__title Наши клиенты
		ul.clients__list
			li.clients__item
				a.clients__link(href="#link")
					img(src="assets/images/content/client-1.jpg", alt="")
			li.clients__item
				a.clients__link(href="#link")
					img(src="assets/images/content/client-2.jpg", alt="")
			li.clients__item
				a.clients__link(href="#link")
					img(src="assets/images/content/client-3.jpg", alt="")
			li.clients__item
				a.clients__link(href="#link")
					img(src="assets/images/content/client-4.jpg", alt="")
			li.clients__item
				a.clients__link(href="#link")
					img(src="assets/images/content/client-3.jpg", alt="")
			li.clients__item
				a.clients__link(href="#link")
					img(src="assets/images/content/client-1.jpg", alt="")
			li.clients__item
				a.clients__link(href="#link")
					img(src="assets/images/content/client-4.jpg", alt="")
			li.clients__item
				a.clients__link(href="#link")
					img(src="assets/images/content/client-2.jpg", alt="")
