mixin works()
	section.works&attributes(attributes)
		.works__in
			h2.works__title Наши работы

		ul.works__list
			li.works__item(style="background-image: url('assets/images/content/work-1.jpg');")
				a.works__item-w(href="#")
					.works__item-title Контраст+
					.works__item-text Консалтинг и логистика в Китае
					.works__item-button.button.button_sec Смотреть

			li.works__item(style="background-image: url('assets/images/content/work-2.jpg');")
				a.works__item-w(href="#")
					.works__item-title Контраст+
					.works__item-text Консалтинг и логистика в Китае
					.works__item-button.button.button_sec Смотреть

			li.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				a.works__item-w(href="#")
					.works__item-title Контраст+
					.works__item-text Консалтинг и логистика в Китае
					.works__item-button.button.button_sec Смотреть

			li.works__item(style="background-image: url('assets/images/content/work-4.jpg');")
				a.works__item-w(href="#")
					.works__item-title Контраст+
					.works__item-text Консалтинг и логистика в Китае
					.works__item-button.button.button_sec Смотреть

		a.works__button(href="#all-works")
			.works__button-text Посмотреть все работы

