.footer
	display block
	background #3e3e3e
	+r($tL)
		overflow hidden
	&__in
		@extends .in
		+r($tL)
			padding-left 57px
			padding-right 57px
		+r($m)
			padding-left 15px
			padding-right 15px
	&__top
		padding-top 52px
		padding-bottom 53px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items center
		+r($m)
			padding-bottom 0
			justify-content center
	.footer__logo
		+r($tL)
			margin auto
			margin-bottom 50px
		+r($m)
			width 160px
			height 23px
	.logo__slogan
		+r($tL)
			display block
		+r($m)
			display none
	.logo__brand
		+r($m)
			height 23px

	&__contacts
		min-width 460px
		+r($tL)
			margin auto
			max-width 310px
			min-width auto
	&__bottom
		position relative
		padding-top 44px
		padding-bottom 50px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items center
		text-align center
		&:after
			+r($tL)
				position absolute
				top 0
				left -100%
				right -100%
				width 300%
				content ''
				border-top 1px solid #535454
			+r($m)
				display none

		+r($tL)
			padding-top 30px
			padding-bottom 25px
			justify-content flex-start
		+r($m)
			padding-top 0
			padding-bottom 50px
			justify-content center

	&__phone
		margin-right 30px
		+r($tL)
			margin-right 0
			margin-bottom 54px
		+r($m)
			margin-right 0

	&__copyright
		width 100%
		display block
		color #8B8B8B
		font-size 14px
		text-align center
		+r($tL)
			margin-top 20px
		+r($m)
			text-align center

	&__copyright-link
		color #8B8B8B
		text-decoration underline
		&:hover
			text-decoration none

	&__contacts
		&:after
			+r($m)
				position absolute
				top 0
				left -100%
				right -100%
				width 300%
				content ''
				border-top 1px solid #535454
		+r($tL)
			order 0
		+r($m)
			position relative
			padding-top 50px
			text-align center

	&__phone
		margin-right 60px
		+r($tL)
			margin-right 0
			margin-bottom 54px
			display inline-block
			vertical-align top
		+r($m)
			margin-bottom 30px
			margin-right 0
			display inline-block
			vertical-align top
	&__email
		+r($m)
			margin-bottom 16px
			display inline-block
			vertical-align top

.email
	position relative
	padding-left 34px
	font-family $mR
	font-size 24px
	color #FFF
	line-height 1
	text-decoration none
	&__icon
		position absolute
		top 0
		left 0
		margin-right 10px
		width 24px
		height 20px
		fill #fff

