mixin sphere()
	section.sphere&attributes(attributes)
		.sphere__in
			h2.sphere__title Разрабатываем лендинги для
			ul.sphere__list
				li.sphere__item
					.sphere__icon
						img(src="assets/images/general/sphere-icon-1.png", alt="")
					.sphere__text Розничной <br/>и оптовой <br/>торговли
				li.sphere__item
					.sphere__icon
						img(src="assets/images/general/sphere-icon-2.png", alt="")
					.sphere__text Сферы <br/>услуг
				li.sphere__item
					.sphere__icon
						img(src="assets/images/general/sphere-icon-3.png", alt="")
					.sphere__text Производителей
				li.sphere__item
					.sphere__icon
						img(src="assets/images/general/sphere-icon-4.png", alt="")
					.sphere__text Личных <br/>брендов
				li.sphere__item
					.sphere__icon
						img(src="assets/images/general/sphere-icon-5.png", alt="")
					.sphere__text Оформления <br/>портфолио
				li.sphere__item
					.sphere__icon
						img(src="assets/images/general/sphere-icon-6.png", alt="")
					.sphere__text Обучающих <br/>программ

