mixin get()
	section.get&attributes(attributes)
		.get__in
			h2.get__title Что вы получите при заказе у нас
			ul.get__list
				li.get__item
					.get__image
						img(src="assets/images/content/get-1.jpg", alt="")
					.get__item-title Прототип лендинга бесплатно
					.get__text Мы проектируем прототип для каждого проекта, это позволяет избежать ошибок и составить идеальную структуру ленинга перед этапом дизайна
				li.get__item
					.get__image
						img(src="assets/images/content/get-2.jpg", alt="")
					.get__item-title Уникальный дизайн
					.get__text Мы не используем шаблонные решения в дизайне лендингов, так как дизайн оказывает сильное влияние на посетителей, вовлекает вашего потенциального клиента, повышает доверие и выделяет среди конкурентов.
				li.get__item
					.get__image
						img(src="assets/images/content/get-3.jpg", alt="")
					.get__item-title Увеличение конверсии
					.get__text Целевая страница устанавливает четкое действие для пользователей. Это как ваш призыв к действию. Лендинг выгоден для вашего бизнеса, потому что приводит к большему количеству клиентов и большему количеству денег для вашего бизнеса.
				li.get__item
					.get__image
						img(src="assets/images/content/get-4.jpg", alt="")
					.get__item-title Адаптивность
					.get__text Лендинг прекрасно выглядит на всех устройствах: мониторах компьютеров, планшетах и смартфонах. Сайт охватит максимальную аудиторию заинтересованных посетителей.
