mixin how()
	section.how&attributes(attributes)
		.how__in
			h2.how__title Как мы работаем

			.how__text Разработка лендинга с нуля под ключ, от аналитики до запуска рекламной кампании. Правильно рассказываем о вашем предложении посетителям сайта, пишем тексты, рисуем дизайн, верстаем и тестируем отображение на всех современных устройствах. Настраиваем формы, счетчики и цели.

			ul.how__list
				li.how__item
					.how__image
						img(src="assets/images/content/how-1.png", alt="")
						.how__num 1
					.how__item-title Интервью <br/>с клиентом
				li.how__item
					.how__image
						img(src="assets/images/content/how-2.png", alt="")
						.how__num 2
					.how__item-title Создаем прототип
				li.how__item
					.how__image
						img(src="assets/images/content/how-3.png", alt="")
						.how__num 3
					.how__item-title Рисуем дизайн
				li.how__item
					.how__image
						img(src="assets/images/content/how-4.png", alt="")
						.how__num 4
					.how__item-title Верстаем
				li.how__item
					.how__image
						img(src="assets/images/content/how-5.png", alt="")
						.how__num 5
					.how__item-title Запускаем
